<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
    <div class="sidemenu-header">
        <a routerLink="/" class="navbar-brand d-flex align-items-center">
            <img src="assets/img/logo-removebg-preview (1).png" alt="image">
        </a>
        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>
    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item-title">
                Main
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard" class="nav-link">
                    <span class="icon"><i class="flaticon-search"></i></span>
                    <span class="menu-title">Recherche</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-bookings" class="nav-link">
                    <span class="icon"><i class='bx bx-copy'></i></span>
                    <span class="menu-title">Demandes</span>
                </a>
            </li>
            
            <li class="nav-item-title">
                Trajets
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-my-listings" class="nav-link">
                    <span class="icon"><i class='bx bx-layer'></i></span>
                    <span class="menu-title">Mes trajets</span>
                </a>
            </li>
                       
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-add-listings" class="nav-link">
                    <span class="icon"><i class='bx bx-plus-circle'></i></span>
                    <span class="menu-title">Ajouter trajet</span>
                </a>
            </li>
           
            <li class="nav-item-title">
                Compte
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a class="nav-link">
                    <span class="icon"><i class='bx bx-calendar'></i></span>
                    <span class="menu-title">Historique</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active mm-active">
                <a routerLink="/dashboard-my-profile" class="nav-link">
                    <span class="icon"><i class='bx bxs-user-circle'></i></span>
                    <span class="menu-title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/" class="nav-link">
                    <span class="icon"><i class='bx bx-log-out'></i></span>
                    <span class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidemenu Area -->