<!-- Start Main Banner Area -->
<div class="main-banner-area">
    <div class="container">
        <div class="main-banner-content">
            <h1>Header</h1>
            <p>Paragraph</p>
            <form>
                <div class="row m-0 align-items-center">
                    <div class="col-lg-4 col-md-12 p-0">
                        <div class="form-group">
                            <label><i class="flaticon-search"></i></label>
                            <input type="text" class="form-control" placeholder="What are you looking for?">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="form-group">
                            <label><i class="flaticon-pin"></i></label>
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="form-group category-select">
                            <label><i class="flaticon-category"></i></label>
                            <ngx-select-dropdown (searchChange)="searchChange($event)" name="category-select" tabindex="0" [multiple]="false" [(ngModel)]="singleSelect" [config]="config" ></ngx-select-dropdown>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-12 p-0">
                        <div class="submit-btn">
                            <button type="submit">Search Now</button>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
</div>
<!-- End Main Banner Area -->